<div class="Wrapper">
  <div class="Article">
    <ul class="Lists">
      <li class="List">
        <div class="List__img">
          <%= '画像' %>
        </div>
        <div class="List__text">
          <%= '記事本文' %>
        </div>
        <div class="List__info">
          <%= 'インフォメーション' %>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= '画像' %>
        </div>
        <div class="List__text">
          <%= '記事本文' %>
        </div>
        <div class="List__info">
          <%= 'インフォメーション' %>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= '画像' %>
        </div>
        <div class="List__text">
          <%= '記事本文' %>
        </div>
        <div class="List__info">
          <%= 'インフォメーション' %>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= '画像' %>
        </div>
        <div class="List__text">
          <%= '記事本文' %>
        </div>
        <div class="List__info">
          <%= 'インフォメーション' %>
        </div>
      </li>
    </ul>
  </div>
</div>