<div class="Wrapper">
  <div class="Article">
    <ul class="Lists">
      <li class="List">
        <div class="List__img">
          <%= image_tag "chase-fade-1134477-unsplash.png", class:"List__pict" %>
        </div>
        <div class="List__text">
          <%= 'ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。' %>
        </div>
        <div class="List__info">
          <div class="List__price">
            <%= '99,999,999円' %>
          </div>
          <div class="List__user">
            <%= 'ユーザー名' %>
          </div>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= image_tag "2015KendrickLamar_ST_4_150715-720x477.jpg", class:"List__pict" %>
        </div>
        <div class="List__text">
          <%= 'ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。' %>
        </div>
        <div class="List__info">
          <div class="List__price">
            <%= '99,999,999円' %>
          </div>
          <div class="List__user">
            <%= 'ユーザー名' %>
          </div>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= image_tag "Kendrick-Lamar-Damkn-press-photo-web-1000.jpg", class:"List__pict" %>
        </div>
        <div class="List__text">
          <%= 'ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。' %>
        </div>
        <div class="List__info">
          <div class="List__price">
            <%= '99,999,999円' %>
          </div>
          <div class="List__user">
            <%= 'ユーザー名' %>
          </div>
        </div>
      </li>
      <li class="List">
        <div class="List__img">
          <%= image_tag "21-savage-e1520998575405.jpg", class:"List__pict" %>
        </div>
        <div class="List__text">
          <%= 'ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。
          ここに記事の本文が書かれています。' %>
        </div>
        <div class="List__info">
          <div class="List__price">
            <%= '99,999,999円' %>
          </div>
          <div class="List__user">
            <%= 'ユーザー名' %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>