<!DOCTYPE html>
<html>
  <head>
    <title>BoneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="title">
          <%= link_to "BONE", root_path, class: :app_btn %>
          <div class="nav">
            <%= link_to "ユーザー名", root_path, class: :nav_btn %>
            <%= link_to "ログアウト", "#", method: :delete, class: :nav_btn %>
            <%= link_to  "投稿する", "#", class: :nav_btn %>
            <%= link_to "ログイン", "#", class: :nav_btn %>
            <%= link_to "新規登録", "#", class: :nav_btn %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
