<!DOCTYPE html>
<html>
  <head>
    <title>BoneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="Header">
      <div class="Header__inner">
        <div class="Title">
          <%= link_to "BONE", root_path, class: :Title__appbtn %>
        </div>
        <div class="Nav">
          <% if user_signed_in? %>
            <%= link_to current_user.nickname, root_path, class: :Nav__username %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :Nav__logout %>
            <%= link_to  "投稿する", "#", class: :Nav__post %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: :Nav__signin %>
            <%= link_to "新規登録", new_user_registration_path, class: :Nav__signup %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
